<div class="jumbotron text-center"  style="background-color:#8e9bf0">
  <h1>Edit informations about an user</h1>
</div>
<div class="container text-center"  >


  <%= form_for(@user, url: admin_user_url(@user.id) , method: :put) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :firstname %>
      </div>

      <div class="field" style="margin-bottom: 15px">
        <%= f.text_field :firstname %>
      </div>

      <div class="field">
        <%= f.label :surname %>
      </div>

      <div class="field" style="margin-bottom: 15px">
        <%= f.text_field :surname %>
      </div>

      <div class="field">
        <%= f.label :email %>
      </div>

      <div class="field" style="margin-bottom: 15px">
        <%= f.text_field :email %>
      </div>


      <div class="field">
        <%= f.label :birthday %>
      </div>

      <div class="field" style="margin-bottom: 15px">
        <%= f.date_select :birthday, start_year:1960, end_year:2000 %>
      </div>

      <div class="field">
        <%= f.label :role %>
      </div>

      <div class="field" style="margin-bottom: 15px">
        <%= f.text_field :role %>
      </div>

      <div class="field">
        <%= f.label :position %>
      </div>

      <div class="field" style="margin-bottom: 15px">
        <%= f.text_field :position %>
      </div>

      <div class="actions" style="margin-bottom: 15px">
        <%= f.submit %>
      </div>
  <% end %>

<%= link_to 'Back', admin_user_users_path %>
  </div>
